---
type Props = { variants: { name: string; src: string }[] };

const { variants } = Astro.props;
---

<section class="not-content">
	<div class="asset">
		<slot />
		<div class="variants">
			{
				variants.map((variant) => (
					<div class="variant">
						<p class="variant-name">{variant.name}</p>
						<img src={variant.src} alt={variant.name} height="70px" class="variant-image" />
						<a href={variant.src} download class="download-link">
							Download
						</a>
					</div>
				))
			}
		</div>
	</div>
</section>

<style>
	.download-link {
		color: var(--sl-color-text-accent);
	}
	.download-link:hover {
		color: var(--sl-color-white);
	}
	.asset {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
	.variants {
		display: flex;
		flex-wrap: wrap;
		gap: 25px;
		justify-content: flex-start;
	}
	.variant {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 10px;
		padding: 15px;
	}
	.variant-name {
		font-weight: bold;
		max-width: 150px;
		flex-wrap: wrap;
	}
	.variant-image {
		max-width: 100%;
		width: auto;
	}
</style>
